@media (max-width:639px) {}

@media (min-width:640px) {}

@media (min-width:768px) {}

@media (min-width:1024px) {
    .content .content__head>h1 {
        font-size: 36px;
    }
    .movie-items figcaption{
        font-size: 15px;
    }
}

@media (min-width:1280px) {
    .other-pic{
        max-height: none;
    }
}

@media (min-width:1536px) {}