main {
    transition: 0.4s;
    margin-top: 66px;
}

header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.696);
    background-color: #1A191F;
    z-index: 50;
}

.brand-name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 2px;
}

.brand-name span {
    color: #DD9904;
}

.icons {
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.nav-right>* {
    transition: 0.4s;
    font-size: 14px;
}

.nav-right>*:hover,
.nav-left>ul>li:hover {
    color: #DD9904;
    transition: 0.4s;
}

.nav-left>ul>li {
    cursor: pointer;
    transition: 0.4s;
}

.nav-right .sign-in-btn {
    border: 1px solid white;
    transition: 0.4s;
}

.nav-right .sign-in-btn:hover {
    border: 1px solid #DD9904;
    transition: 0.4s;
}

.hamburger-menu {
    font-size: 25px;
}

.mobile-menu {
    width: 55%;
    height: calc(100% - 66px);
    position: fixed;
    right: -60%;
    top: 66px;
    background-color: #1A191F;
    transition: 0.4s ease;
    border-top: 2px solid #DD9904;
    z-index: 10;
}

.mobile-menu ul>li {
    text-transform: uppercase;
    /* user-select: none; */
}

.shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 66px;
    z-index: 50;
    transition: 0.4s ease;
}

.active {
    background-color: rgba(26, 25, 31, 0.75);
    z-index: 5;
}

.deActive {
    background-color: rgba(0, 0, 255, 0);
    z-index: -1;
    /* or visibility : hidden */
}

.inp-search {
    background: #222028;
    outline: none;
    border: 2px solid transparent;
    transition: 0.4s;
}

.inp-search:focus {
    border: 2px solid #DD9904;
    transition: 0.4s;
}

.parent-search-mobile {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1A191F;
    transition: 0.4s ease;
}

.parent-search-mobile input {
    background-color: #222028;
    outline: none;
    border: 2px solid transparent;
    transition: 0.4s ease;
}

.parent-search-mobile input:focus {
    border: 2px solid #DD9904;
    transition: 0.4s ease;
}

.parent-search-mobile .header__search-button {
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.parent-search-mobile button {
    transition: 0.4s ease;
}

.parent-search-mobile button:hover {
    color: #DD9904;
    transition: 0.4s ease;
}

.parent-search-mobile button i {
    font-size: 18px;
}

.header__search-close-btn {
    top: -50%;
}

.desktop-menu li {
    user-select: none;
}

.form {
    position: relative;
}

.form button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.dropDownMenuBox {
    position: absolute;
    /* width: 200px; */
    height: 260px;
    background-color: #222028;
    z-index: 10;
    top: calc(68px - 25px);
    overflow-y: scroll;
    border-radius: 8px;
    transition: 0.4s;
}

.dropDownMenuBox-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(3px);
}

.dropDownMenuBox-hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0px);
}

.dropDownMenuBox::-webkit-scrollbar {
    background-color: #1A191F;
    width: 5px;
    border-radius: 8px;
}

.dropDownMenuBox::-webkit-scrollbar-thumb {
    background-color: #DD9904;
    border-radius: 8px;
}

.dropDownMenuBox ul {
    margin: 5px;
}

.dropDownMenuBox li {
    color: white;
    transition: 0.4s;
    text-transform: capitalize;
    padding: 10px 40px 10px 15px;
    font-size: 15px;
    text-align: left;
    text-wrap: nowrap;
}

.dropDownMenuBox li:hover {
    color: #DD9904;
}

/* ********************************************************* */
/* .content {
    min-height: 100vh;
} */

.content .content__head>h1 {
    font-size: 27px;
}

.content .content__head>p {
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content .content__head>p>i {
    font-size: 22px;
    padding-left: 5px;
    transition: 0.4s ease;
}

.content .content__head>p:hover i {
    color: #DD9904;
    transition: 0.4s ease;
}

.movie-items>div {
    position: relative;
}

.movie-items figure {
    position: relative;
}

.movie-items figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000000;
    visibility: hidden;
    transition: 0.3s;
}

.movie-items figure:hover::after {
    visibility: visible;
    background-color: #0000006e;
    transition: 0.3s;
    z-index: 5;
}

.movie-items img {
    width: 100%;
    height: 100%;
}

.movie-items figcaption {
    font-size: 18px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-items p {
    font-size: 13px;
    text-transform: capitalize;
    color: #DD9904;
}

.movie-items .imdb-rate {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.763);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    top: 10px;
    left: 10px;
}

.imdb-rate-border-green {
    border: 3px solid #29b474;
}

.imdb-rate-border-yellow {
    border: 3px solid #ffc312;
}

.imdb-rate-border-red {
    border: 3px solid #eb5757;
}